<div class="alert alert-danger">
    <h5>Exception path</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div> 

<div class="alert alert-danger">
    <h5>Exception message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
