@model IEnumerable<WebForumMVC.Models.ViewModels.ArticleViewModel>

<link rel="stylesheet" href="~/css/GetUserArticles.css" />

@if (!Model.Any())
{
    <p>You don't have any articles yet </p>
    <p>You want to create an article? <a asp-action="Create">Click here</a></p>
}
else
{
    <div class="col-sm-12">
        @foreach (var item in Model)
        {
            <div class="container shortArticle">
                <div class="row m-1">
                    <p>Title: @Html.DisplayFor(modelItem => item.Title)</p>
                    <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </div>
                <div class="m-1">
                    <p>@Html.DisplayFor(modelItem => item.Text)</p>
                </div>
            </div>
        }
    </div>
}