@model IEnumerable<DAL.Entity.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="ChangePassword">Change password</a> 
</p>
<p>
    <a asp-action="GetUserArticles" asp-controller="Articles">Get my articles</a>
</p>